:root.theme-dark {
  --backgroung-image: url(../images/cover-image-dark.png);
  --button-color: #ff0070;
  --currently-color: #ff0070;
  --title-color: #db00ff;
  --hed-text-color: #000028;
  --text-color: #f1b2ce;
}

.theme-dark .header__theme-menu-button:hover {
  border: 1px solid rgba(255, 0, 112, 0.4);
}
