/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --backgroung-image: url(../images/cover-image-dark.png);
  --button-color: #ff0070;
  --currently-color: #ff0070;
  --font: "IBM Plex mono";
  --font-size: 18px;
  --title-color: #db00ff;
  --hed-text-color: #000028;
  --text-color: #f1b2ce;
  --bg-color: #000028;
}

.theme-dark .header__theme-menu-button:hover {
  border: 1px solid rgba(255, 0, 112, 0.4);
}
