/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --backgroung-image: url(../images/cover-image-light.png);
  --button-color: #353430;
  --currently-color: #ff8dcb;
  --title-color: #ffc2e6;
  --hed-text-color: #353430;
  --text-color: #353430;
  --bg-color: #fff1f7;
}

@media (prefers-color-scheme: light) {
  :root {
    --backgroung-image: url(../images/cover-image-light.png);
    --button-color: #353430;
    --currently-color: #ff8dcb;
    --title-color: #ffc2e6;
    --hed-text-color: #353430;
    --text-color: #353430;
    --bg-color: #fff1f7;
  }
}

.theme-light .header-rec {
  display: none;
}
