/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  margin: 0 auto;
  font-family: var(--font, monospace);
  font-weight: 400px;
  font-size: var(--font-size);
  line-height: 23.4px;
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--backgroung-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  padding: 20px;
  min-block-size: 100vh;
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.header__theme-menu-button {
  border: none;
  padding: 1.5px 13px;
  color: var(--button-color);
  text-align: center;
  background: transparent;
}

.header__theme-menu-button_active {
  border: 1px solid var(--button-color);
  pointer-events: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--button-color);
}

.header__theme-menu-button:hover {
  border: 1px solid rgba(255, 0, 112, 0.4);
  cursor: pointer;
}

.header-rec {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px;
  padding-right: 8px;
  color: var(--button-color);
  text-align: center;
  text-transform: uppercase;
}

.header-rec::after {
  content: "";
  display: block;
  border-radius: 60%;
  fill: var(--currently-color);
  background-color: var(--currently-color);
  filter: drop-shadow(0px 0px 4px var(--currently-color));
  inline-size: 11px;
  block-size: 11px;
}

.header-description {
  justify-self: end;
  align-self: center;
  max-inline-size: 491px;
}

.header__title {
  margin-left: -21px;
  color: var(--title-color);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--currently-color);
}

.title-decor {
  color: var(--hed-text-color);
  font-weight: 700;
  font-size: var(--font-size);
  line-height: 23.4px;
  background-color: var(--currently-color);
}

.trangl::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  border-top: 1px solid var(--button-color);
  border-right: 1px solid var(--button-color);
  inline-size: 25px;
  block-size: 25px;
}

.trangl::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 20px;
  border-bottom: 1px solid var(--button-color);
  border-left: 1px solid var(--button-color);
  inline-size: 25px;
  block-size: 25px;
}

.topic-title {
  color: var(--button-color);
  font-weight: 700;
  font-size: var(--font-size);
  line-height: 23.4px;
}

.topic_link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--currently-color);
}

.question__link:hover {
  border-bottom: 1px solid var(--text-color);
}

.question__link:focus {
  outline: none;
}

.question__link:focus-visible {
  border: 1px solid var(--text-color);
}

.topic-description {
  color: var(--text-color);
  font-size: var(--font-size);
}

.first__topic {
  display: grid;
  grid-template-columns: 34% 66%;
  margin: 0 20px;
  padding-block-start: 60px;
}

.first__topic-discription {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.contain__question {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0px 21px;
  padding-block-start: 19px;
}

.second__topic {
  margin: 0 20px;
  padding-block-start: 89px;
}

.topic-title-second {
  max-inline-size: 315px;
}

.third__topic {
  display: grid;
  grid-template-columns: 34% 66%;
  margin: 0 20px;
  margin-bottom: -50px;
  padding-block-start: 80px;
  padding-block-end: 130px;
}

.third__topic-ans {
  display: grid;
  gap: 30px;
}

.third__font {
  font-weight: 400;
}

.quest__image__section {
  padding-block-end: 60px;
}

.image_section-title {
  margin: 0px 20px 20px 20px;
}

.image_section-cont {
  display: grid;
  gap: 20px;
  margin: 0 20px;
}

.image_section-item {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.image_section-item:first-of-type {
  grid-column: 1/3;
}

.image_section-item:nth-of-type(2) {
  grid-column: 3/4;
  grid-row: 1/3;
}

.image_section-item:nth-of-type(3) {
  grid-row: 2/4;
}

.image_section-item:nth-of-type(4) {
  grid-column: 2/3;
  grid-row: 2/3;
}

.image_section-item:last-of-type {
  grid-column: 2/4;
}

.footer {
  position: relative;
  display: grid;
  justify-items: center;
  align-items: center;
  margin-top: 60px;
  min-block-size: 100vh;
}

.footer__title {
  color: var(--title-color);
  font-weight: 700;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  line-height: 83%;
  text-shadow: 2px 2px 0 var(--currently-color);
}

@media (max-width: 768px) {
  .header__theme-menu {
    display: flex;
    justify-content: flex-end;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 13px;
  }

  .header-description {
    justify-self: end;
    align-self: center;
    max-inline-size: 364px;
    max-block-size: 117px;
  }

  .topic-title {
    max-inline-size: 236px;
  }

  .contain__question {
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;
    padding-block-start: 27px;
  }

  .first__topic {
    display: grid;
    grid-template-columns: 35% 65%;
    margin: 0 20px;
    padding-block-start: 60px;
  }

  .second__topic {
    padding-block-start: 80px;
  }

  .third__topic {
    grid-template-columns: 35% 65%;
    padding-block-start: 78px;
  }

  .image_section {
    padding-block-end: 1px;
  }
}

@media (max-width: 560px) {
  .header {
    padding: 10px;
  }

  .header__title {
    margin-left: 0px;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .header-description {
    max-inline-size: 355px;
    max-block-size: 117px;
  }

  .topic-title {
    max-inline-size: 355px;
  }

  .first__topic {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0px 10px;
    padding: 39px 0 0 0;
  }

  .second__topic {
    margin: 0 10px;
    padding-inline-end: 0;
    padding-block-start: 50px;
    padding-block-end: 50px;
  }

  .topic-title-second {
    min-inline-size: 355px;
  }

  .contain__question {
    display: flex;
    flex-direction: column;
  }

  .third__topic {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 10px;
    padding-block-start: 0px;
    padding-block-end: 50px;
  }

  .image_section-cont {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 10px;
  }
  .image_section-title {
    margin: 0 10px 10px 10px;
  }

  .image_section {
    padding: 0 0 40px 0;
  }

  .footer {
    margin-top: 0px;
  }

  .footer__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}
