/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  font-family: var(--font, monospace);
  font-size: var(--font-size);
  font-weight: 400px;
  line-height: 23.4px;
  background-image: var(--backgroung-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0 auto;
}

.header {
  display: grid;
  position: relative;
  grid-template-rows: 1fr min-content 1fr;
  min-block-size: 100vh;
  padding: 20px;
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.header__theme-menu-button {
  text-align: center;
  background: transparent;
  color: var(--button-color);
  border: none;
  padding: 1.5px 13px;
}

.header-text{
  justify-self: end;
  align-self: center;
  max-inline-size: 491px;
  font-weight: 700;
  line-height: 23.4px;
  font-size: var(--font-size);
  color: var(--hed-text-color);
  background-color: var(--currently-color);
}

.header-logo {
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--currently-color);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  margin-left: -21px;
  line-height: 83%;
}

.header__theme-menu-button_active {
  border: 1px solid var(--button-color);
  pointer-events: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--button-color);
}

.header__theme-menu-button:hover {
  border: 1px solid rgba(255, 0, 112, 0.40);
  cursor: pointer;
}

.header-rec {
  display: flex;
  align-items: center;
  gap: 10px;
  top: 0;
  right: 0;
  padding-right: 8px;
  text-align: center;
  text-transform: uppercase;
  color: var(--button-color);
  margin: 20px;
  position: absolute;
}

.header-rec::after {
  display: block;
  inline-size: 11px;
  block-size: 11px;
  content: "";
  border-radius: 60%;
  background-color: var(--currently-color);
  filter: drop-shadow(0px 0px 4px var(--currently-color));
}

.title-decor {
  font-weight: 700;
  background-color: var(--currently-color);
  line-height: 23.4px;
  font-size: var(--font-size);
  color: var(--hed-text-color);
}

.trangl::before {
  content: "";
  inline-size: 25px;
  block-size: 25px;
  top: 0;
  right: 0;
  border-top: 1px solid var(--button-color);
  border-right: 1px solid var(--button-color);
  margin: 20px;
  position: absolute;
}

.trangl::after {
  content: "";
  inline-size: 25px;
  block-size: 25px;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid var(--button-color);
  border-left: 1px solid var(--button-color);
  margin: 20px;
  position: absolute;
}

.topic-title {
  font-size: var(--font-size);
  font-weight: 700;
  color: var(--button-color);
  line-height: 23.4px;
}

.topic__link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--currently-color);
}

.topic__link:focus {
  outline: none;
}

.topic__link:hover {
  border-bottom: 1px solid var(--text-color);
}

.topic__link:focus-visible {
  border: 1px solid var(--text-color);
}

.topic-description{
  font-size: var(--font-size);
  color: var(--text-color);
}

.first__topic {
  display: grid;
  margin: 0 20px;
  padding-block-start: 60px;
  grid-template-columns: 34% 66%;
}

.first__informations {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.second__topic {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0px 21px;
  padding-block-start: 108px;
  margin: 0 20px;
}

.topic-title-second {
  max-inline-size: 315px;
}

.third__topic {
  display: grid;
  grid-template-columns: 34% 66%;
  padding-block-start: 80px;
  padding-block-end: 130px;
  margin: 0 20px;
  margin-bottom: -50px;
}

.third__informations {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.third__font {
  font-weight: 400;
}

.topic_image {
  padding-block-end: 60px;
}

.topic_image-title {
  margin: 0px 20px 20px 20px;
}

.topic_image-container {
  display: grid;
  gap: 20px;
  margin: 0 20px;
}

.topic_image-item {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.topic_image-item:first-of-type {
  grid-column-start: 1;
  grid-column-end: 3;
}

.topic_image-item:nth-of-type(2) {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}

.topic_image-item:nth-of-type(3) {
  grid-row-start: 2;
  grid-row-end: 4;
}

.topic_image-item:nth-of-type(4) {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.topic_image-item:last-of-type {
  grid-column-start: 2;
  grid-column-end: 4;
}

.footer {
  display: grid;
  position: relative;
  min-block-size: 100vh;
  align-items: center;
  justify-items: center;
  margin-top:60px;
}

.footer__logo {
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--currently-color);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  line-height: 83%;
  font-weight: 700;
}