:root {
  --backgroung-image: url(../images/cover-image-dark.png);
  --button-color:#ff0070;
  --currently-color: #ff0070;
  --font: 'IBM Plex mono';
  --font-size: 18px;
  --title-color: #DB00FF;
  --hed-text-color: #000028;
  --text-color: #F1B2CE;
}